@model IEnumerable<Brand>

@{
    ViewBag.Title = "Brands | Admin";
    Layout = "_LayoutAdmin";

    var index = 0;
}

<div class="container my-3">
    <h2 class="my-3">List of brands</h2>
    <hr class="text-primary" />

    <a asp-action="CreateBrand" class="btn btn-sm btn-primary">Add New Brand</a>
    <table class="table table-hover my-3">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Image Brand</th>
                <th>Name</th>
                <th>Level Brand</th>
                <th>Shop</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>
                        @if (brand.Image == "")
                        {
                            @Html.DisplayFor(modelItem => brand.Image)
                        }
                        else
                        {
                            <img src="@("~/image/"+ brand.Image)" asp-append-version="true" width="70px" height="50px" />
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => brand.Name)</td>
                    <td>@Html.DisplayFor(modelItem => brand.Level_brand)</td>
                    <td>@Html.DisplayFor(modelItem => brand.Shop.Name)</td>
                    <td>
                        <a asp-action="EditBrand" asp-route-id="@brand.Id">Edit</a>
                        &nbsp;
                        <a asp-action="DeleteBrand" asp-route-id="@brand.Id" onclick="return confirm('Are you sure you want to delete this brand?')" style="color: red; text-decoration: underline;">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
