@model IEnumerable<BrandIntroduction>

@{
    ViewData["TitleMalls"] = "Home Page";
    Layout = "_LayoutMalls";
}


<section id="hero">
    <div class="page-header hide">
        <h1 id="page-title" class="no-margin no-padding">FPT Malls</h1>
    </div>
    <!-- ======= Services Section ======= -->
    <section class="services d-block d-sm-none section-bg pt-0 pb-2">
        <div class="container d-block">
            <div class="row">
                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="@("~/fptimage/mall-hours.svg")" asp-append-version="true" alt="mall-hours" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">Mall Hours and <br>Entry Guidelines</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/mall-directory.png" alt="mall-directory" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">Mall Directory</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/government-services.svg" alt="government-services" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">Government <br>Service Express</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/vaccination-sites.svg" alt="vaccination-sites" />
                                </div>
                            </div>
                        </a><div class="px-2">
                            <a href="#" class="text-black">
                            </a><h4 class="title font-regular"><a href="#" class="text-black"></a><a href="#">Covid-19 <br>Vaccination Sites</a></h4>
                        </div>

                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black" target="_blank">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/cinema.png" alt="cinema" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">FPT Cinema</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/cyberzone.svg" alt="cyberzone" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">Cyberzone</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black" target="_blank">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/sm-deals.svg" alt="sm-deals" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">FPT Deals</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md col-3 p-0 m-0">
                    <div class="text-center">
                        <a href="#" class="text-black">
                            <div class="px-2">
                                <div class="icon-box">
                                    <img src="~/fptimage/smcares.png" alt="smcares" />
                                </div>
                            </div>
                            <div class="px-2">
                                <h4 class="title font-regular">FPT Cares</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <div class="banners">
        <div class="container-fluid d-flex p-0 m-0">
            <div class="owl-carousel banner-carousel owl-loaded owl-drag aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-5367px, 0px, 0px); transition: all 0.25s ease 0s; width: 9393px;">
                        <div class="owl-item cloned" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/WOMENS_MONTH_BANNER.png" alt="data/uploads/WOMENS_MONTH_BANNER.png" class="d-none d-md-block">
                                <img src="~/data/uploads/WOMENS_MONTH_MOBILE_BANNER.png" alt="data/uploads/WOMENS_MONTH_MOBILE_BANNER.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/3D_Sale_4_14__16_banner.png" alt="data/uploads/3D_Sale_4_14__16_banner.png" class="d-none d-md-block">
                                <img src="~/data/uploads/3DS_MOBILE_BANNER_MAR_17_19_Updated_DTI.png" alt="data/uploads/3DS_MOBILE_BANNER_MAR_17_19_Updated_DTI.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/summerbods_banner.png" alt="data/uploads/summerbods_banner.png" class="d-none d-md-block">
                                <img src="~/data/uploads/CYBERZONE_GADGET_CRAZE_850x700___resized.png" alt="data/uploads/CYBERZONE_GADGET_CRAZE_850x700___resized.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item cloned" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/SummerKV_banner__rev1.png" alt="data/uploads/SummerKV_banner__rev1.png" class="d-none d-md-block">
                                <img src="~/data/uploads/Easter_Art_Mobile" alt="data/uploads/Easter_Art_Mobile.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item active" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/Summer_in_the_City_PIRNE_1280X427_PX.png" alt="data/uploads/Summer_in_the_City_PIRNE_1280X427_PX.png" class="d-none d-md-block">
                                <img src="~/data/uploads/3DS_MOBILE_BANNER_MAR_17_19_Updated_DTI.png" alt="data/uploads/3DS_MOBILE_BANNER_MAR_17_19_Updated_DTI.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item cloned" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/summerbods_banner.png" alt="data/uploads/summerbods_banner.png" class="d-none d-md-block">
                                <img src="~/data/uploads/revamp-smse-homepage-entry.png" alt="data/uploads/revamp-smse-homepage-entry.png" class="d-block d-md-none">
                            </a>
                        </div><div class="owl-item cloned" style="width: 1341.82px;">
                            <a href="#" target="_top">
                                <img src="~/data/uploads/SummerKV_banner__rev1.png" alt="data/uploads/SummerKV_banner__rev1.png" class="d-none d-md-block">
                                <img src="~/data/uploads/Easter_Art_Mobile.png" alt="data/uploads/Easter_Art_Mobile.png" class="d-block d-md-none">
                            </a>
                        </div>
                    </div>
                </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>

    <div class="search-box container-fluid">
        <div class="row justify-content-md-center">
            <form id="frmFilterStore" class="col col-md-6 form" method="get" action="@Url.Action("Index", "FptMall")" target="_blank">
                <input type="text" name="searchString" id="productSearch" class="form-control form-control-lg" placeholder="What are you looking for?" aria-label="What are you looking for?" aria-describedby="basic-addon2">
                <div id="suggestions" class="suggestions"></div>
                <button type="submit" class="bg-white border-0" role="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
</section>

<section class="services pt-custom d-sm-block section-bg pt-3 pb-5">
    <div class="container-fluid d-block">
        <div class="row">

            <div class="col-lg-10 offset-lg-1">
                <div class="row d-flex justify-content-center">

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a asp-controller="Page" asp-action="About"
                               class="text-black">
                                <div class="px-2">
                                    <div class="icon-box">

                                        <img src="~/fptimage/mall-hours.svg" alt="mall-hours" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">About Us</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a href="#" class="text-black">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/mall-directory.png" alt="mall-directory" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Feedback</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a href="#" class="text-black">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/cinema.png" alt="cinema" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Cinema</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a asp-controller="FptMall" asp-action="Fashion"
                               class="text-black">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/snackbar-shop-awesm.png" alt="snackbar-shop-awesm" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Fashion</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a asp-controller="FptMall" asp-action="FoodCourts" class="text-black">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/food.png" alt="food" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Food Courts</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a asp-controller="FptMall" asp-action="Galleries" class="text-black" target="_blank">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/galleyry.png" alt="galleyry" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Galleries</h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col p-0 m-0 icon-box-lg">
                        <div class="text-center">
                            <a asp-controller="FptMall" asp-action="Orther" class="text-black" target="_blank">
                                <div class="px-2">
                                    <div class="icon-box">
                                        <img src="~/fptimage/store.png" alt="store" />
                                    </div>
                                </div>
                                <div class="px-2">
                                    <h4 class="title font-regular">Orther Store</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section id="articles" class="my-0 py-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-3">
                            <div class="card card-shadow">
                                <a asp-controller="FptMall" asp-action="Detail" asp-route-id="@item.Brand.Id"
                                   class="text-black article-thumbnail-placeholder">
                                    <img class="card-img-top article-thumbnail"
                                     src="@("~/image/"+item.Brand.Image)" asp-append-version="true" alt="@item.Brand.Name">
                                </a>
                                <div class="card-body">
                                    <a class="text-black">
                                        @{
                                            var random = new Random();
                                            var list = new List<string> { "What's New", "Digital Promos", "Mall Sale & Events" };
                                            int index = random.Next(list.Count);
                                        }
                                        <span class="btn btn-primary button-round button-secondary bg button-xs py-1
                                            @{
                                                if(list[index] == "What's New"){
                                                                                    @Html.Raw("whats-new")
                                                }
                                                else if(list[index] == "Digital Promos"){
                                                                                    @Html.Raw("letsplaynowatsm")
                                                }
                                                else{
                                                                                    @Html.Raw("mall-sale-events")
                                                }
                                            }">

                                            @Html.Raw(list[index])

                                        </span>
                                    </a>
                                    <a class="text-black">
                                        <h5 class="card-title mt-3 mb-0 font-medium">
                                            @item.Brand.Name
                                        </h5>
                                        <div><small>@item.Brand.Shop.Name - @item.Brand.Level_brand</small></div>

                                        @if (item.Content != null)
                                        {
                                            <p class="card-text mt-2">
                                                @Html.Raw(item.Content.Substring(0, 140))
                                            </p>
                                        }

                                        <div class="text-uppercase font-medium mt-4">
                                            <a class="text-black" asp-controller="FptMall" asp-action="Detail" asp-route-id="@item.Brand.Id">
                                                Read More <i class="fa-solid fa-caret-right"></i>
                                            </a>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>

<div class="branch" id="branch">
    <div class="container-fluid px_custom">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="branch-inner">
                    <div class="branch-sp">
                        <div class="branch-sp__header">FPT MALL</div>
                    </div>
                    <div class="branch-row">
                        <div class="branch-content" data-toggle="branch1" data-content="1">
                            <div class="tab-header">
                                <div class="tab-header__item tab-branch active" data-handle="branch" data-tab="2">FPT MALL</div>
                                <div class="tab-header__item tab-map" data-handle="map" data-tab="2">Location Map</div>
                                <div class="tab-header__item tab-floor" data-handle="floor" data-tab="2">Floor Map</div>
                            </div>
                            <div class="tab-body">
                                <div class="tab-body__inner">
                                    <!--content for data-tab 2-->
                                    <div class="tab-body__branch" data-toggle="branch" data-content="2">
                                        <div class="branch-img">
                                            <img class="pc-appear"
                                                 src="~/FPTImage/utilities/fptmall-3d.png"
                                                 alt="" />

                                            <div class="branch-caption">
                                                <div class="branch-caption__name">
                                                    FPT MALL
                                                </div>
                                                <div class="branch-caption__contact">
                                                    Contact customer service <a href="tel:1800.888.886 - Chat Zalo - số 0366 565454">
                                                        1800.888.886
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="branch-desc">
                                            <div class="branch-desc__txt">
                                                With an area of more than 70,000 m2, FPT MALL is a center complex with many perfect utilities for families such as supermarkets,
                                                cosmetic stores, fashion pages, household appliances, restaurants, cinemas, amusement parks, ...
                                            </div>

                                        </div>
                                    </div>
                                    <!--content for data-tab 2-->
                                    <div class="tab-body__map" data-toggle="map" data-content="2" style="display: none;">
                                        <img class="lazyload google-map-static" src="~/FPTImage/map.png" alt="map">
                                    </div>
                                    <!--content for data-tab 2-->
                                    <div class="tab-body__floor" data-toggle="floor" data-content="2" style="display: none;">
                                        <div class="branch-floor">
                                            <div class="branch-floor__tab">
                                                <div class="branch-floor__tab__map active" data-handle="floor-map" data-tab="3">Map</div>
                                                <div class="branch-floor__tab__note" data-handle="floor-note" data-tab="3">Note</div>
                                            </div>
                                            <div class="branch-floor__content">
                                                <!--content for data-tab 3-->
                                                <div class="branch-floor__map" data-toggle="floor-map" data-content="3">
                                                    <div class="branch-floor__count">
                                                        <div class="branch-floor__num " data-handle="floor-3" data-tab="4">
                                                            F3
                                                        </div>
                                                        <div class="branch-floor__num " data-handle="floor-2" data-tab="4">
                                                            F2
                                                        </div>
                                                        <div class="branch-floor__num " data-handle="floor-1" data-tab="4">
                                                            F1
                                                        </div>
                                                        <div class="branch-floor__num active" data-handle="floor-0" data-tab="4">
                                                            G
                                                        </div>
                                                    </div>
                                                    <div class="branch-floor__map__img" data-toggle="floor-3" data-content="4"
                                                         style="display: none;">
                                                        <img class="thumb"
                                                             src="~/FPTImage/map/floor-3.png"
                                                             data-magnify-src="~/FPTImage/map/floor-3.png"
                                                             alt="" />
                                                    </div>
                                                    <div class="branch-floor__map__img" data-toggle="floor-2" data-content="4"
                                                         style="display: none;">
                                                        <img class="thumb"
                                                             src="~/FPTImage/map/floor-2.png"
                                                             data-magnify-src="~/FPTImage/map/floor-2.png"
                                                             alt="" />
                                                    </div>
                                                    <div class="branch-floor__map__img" data-toggle="floor-1" data-content="4"
                                                         style="display: none;">
                                                        <img class="thumb"
                                                             src="~/FPTImage/map/floor-1.png"
                                                             data-magnify-src="/FPTImage/map/floor-1.png"
                                                             alt="" />
                                                    </div>
                                                    <div class="branch-floor__map__img" data-toggle="floor-0" data-content="4">
                                                        <img class="thumb"
                                                             src="~/FPTImage/map/floor-g.png"
                                                             data-magnify-src="/FPTImage/map/floor-g.png"
                                                             alt="" />
                                                    </div>
                                                </div>
                                                <!--content for data-tab 3-->
                                                <div class="branch-floor__note" data-toggle="floor-note" data-content="3"
                                                     style="display: none;">
                                                    <div class="branch-floor__note__title">Supermarket Utilities</div>
                                                    <div class="branch-floor__note__list">
                                                        <div class="note-slide">
                                                            <div class="note-slide__item">
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_restroom.jpg"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Restroom</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_elevator.jpg"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__en">Escalator</div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_elevator.jpg"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Elevator</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="note-slide__item">

                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_handicapped_toilet.png"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Handicapped toilet</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_way_for_pet.png"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Way for pet</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_atm.png" alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">ATM</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="note-slide__item">
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_bank (1).png" alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Bank</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_information_counter.jpg"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Information counter</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_up_coming.jpg"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Up coming</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="note-slide__item">
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_smoking_room.png"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Smoking room</div>
                                                                    </div>
                                                                </div>
                                                                <div class="branch-floor__note__item">
                                                                    <div class="branch-floor__note__icon">
                                                                        <img src="~/FPTImage/map/note_baby_room.png"
                                                                             alt="" />
                                                                    </div>
                                                                    <div class="branch-floor__note__content">
                                                                        <div class="branch-floor__note__en">Baby room</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="opportunities" class="my-0 pt-4 pb-3">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="border-bottom pb-4 mb-4"></div>

                <h1 class="text-uppercase text-center">My FPT</h1>
                <div class="row clearfix" style="padding-bottom: 50px">
                    <div class="col-md-3">
                        <div class="card card-shadow">
                            <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-nghe" class="text-black" target="blank">
                                <img class="card-img-top" src="~/fptimage/myfpt/congnghe_home.jpg"
                                     alt="Technology">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-0 font-medium">Technology</h5>
                                <p class="card-text mt-2">
                                    FPT is an important strategic partner in consulting, training and implementation
                                    digital transformation of leading ....
                                </p>
                                <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-nghe"
                                   class="text-black text-uppercase font-medium" target="blank">
                                    Learn More <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-shadow">
                            <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/vien-thong" class="text-black" target="blank">
                                <img class="card-img-top" src="~/fptimage/myfpt/vienthong_home.png" alt="Telecommunication">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-0 font-medium">Telecommunication</h5>
                                <p class="card-text mt-2">
                                    We are constantly investing, implementing and integrating more and more
                                    value-added services on the same ....
                                </p>
                                <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/vien-thong" class="text-black text-uppercase font-medium" target="blank">
                                    Learn More <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="card card-shadow">
                            <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/giao-duc" class="text-black" target="blank">
                                <img class="card-img-top" src="~/fptimage/myfpt/giaoduc_home.png" alt="Education">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-0 font-medium">Education</h5>
                                <p class="card-text mt-2">
                                    As an internationally influential education brand, FPT Education
                                    has fully expanded all levels of education,....
                                </p>
                                <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/giao-duc" class="text-black text-uppercase font-medium" target="blank">
                                    Learn More <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="card card-shadow">
                            <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-ty-thanh-vien" class="text-black" target="blank">
                                <img class="card-img-top" src="~/fptimage/myfpt/yte.jpg" alt="Medical">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title mt-2 mb-0 font-medium">Medical</h5>
                                <p class="card-text mt-2">
                                    10 member companies with typical business fields as elements
                                    important component of the FPT ecosystem,....
                                </p>
                                <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-ty-thanh-vien" class="text-black text-uppercase font-medium" target="blank">
                                    Learn More <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<div class="border-bottom pb-4 mb-4"></div>

<h1 class="text-uppercase text-center">Feedback</h1>

<div class="contact" id="contact_info">
    <div class="row">
        <div class="col-lg-10 offset-lg-1" style="padding: 0 25px;">
            <div class="contact-inner">
                <div class="contact-row">
                    <div class="contact-info">
                        <div class="contact-info__item">
                            <div class="contact-info__title">Head Office</div>
                            <div class="contact-info__address contact-info__icon sp-appear">No. 8, Ton That Thuyet, My Dinh 2, Nam Tu Liem, Hanoi</div>
                            <div class="contact-info__time contact-info__icon">(Monday - Friday - 2:6 - 8:30)</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:(028) 6288 7711">
                                    (028) 6288 7711
                                </a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:contact@fptmall.com.vn">
                                    contact@fptmall.com.vn
                                </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Communications &amp; External Affairs Department</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:(033) 217 9797">
                                    (033) 217 9797
                                </a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:phongtruyenthong@fptmall.com.vn">
                                    Communications@fptmall.com.vn
                                </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Customer Service Department</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:1800888886">1800.888.886</a>
                            </div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:contact@fptmall.com.vn">
                                    contact@fptmall.com.vn
                                </a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Shopping hotline</div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:1800888699">1800.888.699</a>
                            </div>
                        </div>
                        <div class="contact-info__item">
                            <div class="contact-info__title">Advertising Contact</div>
                            <div class="contact-info__mail contact-info__icon">
                                <a href="mailto:booking.media@fptmall.com.vn">booking.media@fptmall.com.vn</a>
                            </div>
                            <div class="contact-info__phone contact-info__icon">
                                <a href="tel:02862887711">028 6288 7711</a> - Ext: 730
                            </div>
                        </div>
                    </div>
                    <div class="contact-bg contact-form" id="feedback_form">

                        <form class="checking--form" action="@Url.Action("Create")" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2 class="text-uppercase text-white bg-custom_test pad-15 contact-share">
                                        SHARE WITH US
                                    </h2>
                                    <div class="contact-form pad-15 bg-custom_test">
                                        <p class="text-white">Please enter all necessary information. We will contact you soon most.</p>
                                        <div class="contact-pad">
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="Name" placeholder="Please enter your name..." value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="Phone" placeholder="+84 123 456 789" value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                            <div class="pos-relative">
                                                <div class="icon-form">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <input class="form-control" name="Email" type="email" placeholder="Yourmail@gmail.com" value="">
                                            </div>
                                            <div class="error-form">
                                                <small class="text-small">&nbsp;</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="contact">
                                        <div class="title">
                                            <input class="form-control font-size20" name="Title" placeholder="Headline..."
                                                   value="">
                                        </div>
                                        <div class="error-form">
                                            <small class="text-small">&nbsp;</small>
                                        </div>
                                        <div class="mt-8">
                                            <textarea class="form-control bg-grey" name="Description" rows="10"
                                                      placeholder="Please enter comments..."></textarea>
                                        </div>
                                        <div class="error-form">
                                            <small class="text-small">&nbsp;</small>
                                        </div>
                                        <div class="text--right mt-8">
                                            <button id="submit_btn" class="btn btn-primary btn-w">SEND</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @section MallScripts
                            {
                            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

                            <script>
                                $(function () {
                                    var feedbackSubmitted = false;
                                    $('.checking--form').submit(function (event) {
                                        event.preventDefault();
                                        if (feedbackSubmitted) {
                                            return;
                                        }
                                        $.ajax({
                                            type: "POST",
                                            url: $(this).attr('action'),
                                            data: $(this).serialize(),
                                            success: function () {
                                                feedbackSubmitted = true;
                                                var alert = $('<div class="alert alert-success" role="alert">Feedback submitted successfully!</div>');
                                                $('#feedback_form').prepend(alert);
                                                setTimeout(function () {
                                                    alert.hide();
                                                }, 3000);
                                            },
                                            error: function () {
                                                alert('Error submitting feedback');
                                            }
                                        });
                                    });
                                });
                            </script>


                            <script>
                                $('.checking--form').validate({
                                    rules: {
                                        Name: {
                                            required: true,
                                            minlength: 3
                                        },
                                        Phone: {
                                            required: true,
                                            number: true,
                                            minlength: 10
                                        },
                                        Email: {
                                            required: true,
                                            email: true
                                        },
                                        Title: {
                                            required: true
                                        },
                                        Description: {
                                            required: true
                                        }
                                    },
                                    messages: {
                                        Name: {
                                            required: 'Please enter your name',
                                            minlength: 'Please enter your full name'
                                        },
                                        Phone: {
                                            required: 'Please enter your phone number',
                                            number: 'Please enter a valid phone number',
                                            minlength: 'Phone number must be at least 10 characters long'
                                        },
                                        Email: {
                                            required: 'Please enter your email address',
                                            email: 'Please enter a valid email address'
                                        },
                                        Title: {
                                            required: 'Please enter a headline'
                                        },
                                        Description: {
                                            required: 'Please enter comments'
                                        }
                                    },
                                    errorElement: 'small',
                                    errorClass: 'text-small text-danger',
                                    validClass: 'text-small text-success',
                                    errorPlacement: function (error, element) {
                                        error.addClass('form-text');
                                        error.insertAfter(element);
                                    },
                                    highlight: function (element, errorClass, validClass) {
                                        $(element).addClass(errorClass).removeClass(validClass);
                                        $(element).closest('.pos-relative').addClass('has-error');
                                    },
                                    unhighlight: function (element, errorClass, validClass) {
                                        $(element).removeClass(errorClass).addClass(validClass);
                                        $(element).closest('.pos-relative').removeClass('has-error');
                                    }
                                });
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="footer-social mt-4 mt-md-5 mb-2 pt-0 pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">

                <div class="card card-rounded bg-light-gray border-0">
                    <div class="card-body text-center py-5 py-md-4 px-2">
                        <h4 class="card-title font-medium">Follow us on our Social Media Accounts</h4>
                        <div class="align middle">
                            <a href="https://www.facebook.com/" target="_blank"
                               class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage\facebook.png"
                                     class="img-fluid" />
                            </a> <a href="https://www.instagram.com/" target="_blank"
                                    class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage/instagram.png"
                                     class="img-fluid" />
                            </a> <a href="https://www.twitter.com/" target="_blank"
                                    class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage/twitter.png"
                                     class="img-fluid" />
                            </a> <a href="https://www.youtube.com/"
                                    target="_blank" class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage/youtube.png"
                                     class="img-fluid" />
                            </a> <a asp-controller="Page" asp-action="Contact" target="_blank"
                                    class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage/contact-us.png"
                                     class="img-fluid" />
                            </a> <a href="https://www.linkedin.com/" target="_blank"
                                    class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage/linkedin.png"
                                     class="img-fluid" />
                            </a> <a href="#" target="_blank"
                                    class="social-media-icons mx-1 mx-md-2">
                                <img src="~/fptimage\tiktok.png"
                                     class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
